/*#tblRecords th, #tblRecords td {
            border: 1px solid black;
        }*/
/*#tblRecords th {
            border: 2px solid black;
            bgcolor:"#FF0000";
        }
#tblRecords td {
            border: 1px solid black;
        }*/
        /* pagination */
        #contents #dvPaging {
            text-align: center;
            padding: 0 160px;
        }

            #contents #dvPaging a,
            #contents #dvPaging .selected {
                margin: 0 2px;
                display: inline-block;
                height: 31px;
                line-height: 31px;
                width: 34px;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                font-weight: 700;
                text-transform: uppercase;
                color: #696969;
                text-shadow: #fff 0px 1px 1px;
                background: -moz-linear-gradient(top, #f8f8f3 0%, #f3f3ee);
                background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f3), to(#f3f3ee));
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                /* test comment */
                border: 1px solid #edede8;
                box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px rgba(255, 255, 255, 0.5);
                -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px rgba(255, 255, 255, 0.5);
                -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px rgba(255, 255, 255, 0.5);
                font-variant: normal;
            }

                #contents #dvPaging a:hover {
                    background: -moz-linear-gradient(top, #fbfbf6 0%, #f8f8f3);
                    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbf6), to(#f8f8f3));
                }

                #contents #dvPaging a:active {
                    background: -moz-linear-gradient(top, #f4f4ef 0%, #e9e9e4);
                    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4ef), to(#e9e9e4));
                    border: 1px solid #b4b4b2;
                    box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                    -moz-box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                    -webkit-box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                    font-variant: normal;
                }

            #contents #dvPaging .selected {
                position: relative;
                top: 1px;
                background: -moz-linear-gradient(top, #f0f0eb 0%, #e5e5e0);
                background: -webkit-gradient(linear, left top, left bottom, from(#f0f0eb), to(#e5e5e0));
                border: 1px solid #b4b4b2;
                box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                -moz-box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                -webkit-box-shadow: 0px 2px 2px -2px #ffffff, inset 0px 1px 4px rgba(166, 166, 159, 0.7);
                font-variant: normal;
            }