
@{
    Layout = null;
}

<!DOCTYPE html>
@using Sitecore.Mvc
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore Event Log Search</title>
</head>
<body>
    <div>

 @Html.Sitecore().Placeholder("SearchCriteria");
    </div>
</body>
</html>
